@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: block;
    margin: 0;
    background: #131516;
    color: #e8e6e3;
}

.main_box {
    position: relative;
    background: url("http://webdesignerdepot.s3.amazonaws.com/default-images/45.jpg") no-repeat center center/cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main_box .sidebar_menu {
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: all 0.3s linear;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}

.sidebar_menu .menu {
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i {
    color: #fff;
    font-size: 20px;
    padding-right: 8px;
}

.sidebar_menu .menu a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.sidebar_menu .menu li:hover {
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .social_media {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    list-style: none;
    cursor: pointer;
}

.sidebar_menu .social_media i {
    text-decoration: none;
    padding: 0 5px;
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transition: all 0.2s linear;
    transform: scale(1.01);
}

#check {
    display: none;
}

.main_box .btn_one i {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s linear;
}

.sidebar_menu .btn_two i {
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
}

.btn_one i:hover {
    font-size: 29px;
}

.btn_two i:hover {
    font-size: 24px;
}

#check:checked~.sidebar_menu {
    left: 0;
}

#check:checked~.btn_one i {
    opacity: 0;
}

#check:checked~.sidebar_menu .btn_two i {
    opacity: 1;
}

body h1 {
    text-align: center;
}

.facultywrap,
.pwrap,
.vpwrap,
.vhwrap,
.contwrap,
.designwrap,
.prwrap,
.emwrap,
.vidwebwrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background: rgb(33, 35, 37);
    /* #ecf0f3*/
}

.wrapper,
.wrapper .img-area,
.social-icons a,
.buttons button {
    background: rgb(33, 35, 37);
    box-shadow: -3px -3px 7px rgb(24, 26, 27), 3px 3px 5px rgb(51, 55, 57);
    /*#ffffff #ceced1*/
}

.wrapper {
    margin: 0 5px;
    position: relative;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .icon {
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    top: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 16px;
}

.wrapper .icon i {
    position: relative;
    z-index: 9;
}

.wrapper .icon.arrow {
    left: 15px;
}

.wrapper .icon.dots {
    right: 15px;
}

.wrapper .img-area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-area .inner-area {
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.wrapper .name {
    font-size: 23px;
    font-weight: 500;
    color: rgb(193, 187, 179);
    /*31344b*/
    margin: 10px 0 5px 0;
}

.wrapper .about {
    color: rgb(177, 170, 160);
    /*#44676a*/
    font-weight: 400;
    font-size: 16px;
}

.wrapper .social-icons {
    margin: 15px 0 25px 0;
}

.social-icons a {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}

.social-icons a:hover::before,
.wrapper .icon:hover::before,
.buttons button:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: rgb(33, 35, 37);
    box-shadow: inset -3px -3px 7px rgb(24, 26, 27), inset 3px 3px 5px rgb(51, 55, 57);
}

.buttons button:hover:before {
    z-index: -1;
    border-radius: 5px;
}

.social-icons a i {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.social-icons a.fb i {
    color: #4267b2;
}

.social-icons a.twitter i {
    color: #1da1f2;
}

.social-icons a.insta i {
    color: #e1306c;
}

.social-icons a.yt i {
    color: #ff0000;
}

.wrapper .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #d8d4cf;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}

.buttons button:first-child {
    margin-right: 10px;
}

.buttons button:last-child {
    margin-left: 10px;
}

.wrapper .social-share {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between;
}

.social-share .row {
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.social-share .row::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background: #e0e6eb;
    margin-left: -25px;
}

.row:first-child::before {
    background: none;
}

.social-share .row i.icon-2 {
    position: absolute;
    left: 0;
    top: 50%;
    color: #31344b;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 1050px) {
    .facultywrap,
    .pwrap,
    .vpwrap,
    .vhwrap,
    .contwrap,
    .designwrap,
    .prwrap,
    .emwrap,
    .vidwebwrap {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40vh;
        background: #ecf0f3;
    }
}

@media (max-width: 650px) {
    .facultywrap,
    .pwrap,
    .vpwrap,
    .vhwrap,
    .contwrap,
    .designwrap,
    .prwrap,
    .emwrap,
    .vidwebwrap {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
        background: #ecf0f3;
    }
}